## Basic Data types in Python

![title](img/data_types.png)

## Numbers
Numbers are generally used when we are doing some math operations on it

In [1]:
# integers

In [2]:
print(5)

5

In [3]:
print(-100)

-100

In [4]:
type(5)

int

In [5]:
type(-100)

int

In [6]:
# float
print(2.3)

2.3

In [7]:
print(-100.3)

-100.3

In [8]:
type(2.3)

float

In [9]:
type(-100.3)

float

## Booleans
logical values indicating True or False

In [10]:
# True or False

In [11]:
a = True
type(a) ## print(type(True))

bool

In [12]:
b = False
print(type(b))

<class 'bool'>

In [13]:
a = 5
print(type(a))

<class 'int'>

## Strings
Series of characters enclosed withing single or double quotes

In [14]:
# single quotes

In [15]:
a = 'hello'
print(a)
b = 'Python'
print(b)

hello
Python

In [16]:
# type(a)
type(b)

str

In [17]:
# double quotes

In [18]:
a = "hello"
b = "python"
print(a)
print(b)

hello
python

In [19]:
# type(a)
type(b)

str

In [20]:
# required string = I'm Learning python 

# 1) using single quotes
a = 'I\'m Learning python'
print(a)

# 2) using double quotes
b = "I'm Learning python"
print(b)

I'm Learning python
I'm Learning python

In [21]:
# required string = I am Learning "python" 

# 1) using single quotes
a = 'I am Learning "python"'
print(a)

# 2) using double quotes
b = "I am Learning \"python\""
print(b)

I am Learning "python"
I am Learning "python"

In [22]:
# len()
# returns the length of the string

a = "Python"
len(a)

6

In [23]:
#Note : spaces are also counted
b = 'Welcome to python'
len(b)

17

### String indexing

* indexing
![title](img/indexing.png)

* reverse indexing
![title](img/rev_indexing.png)

In [24]:
# examples on indexing
a = "hello i am sachin"
print(a[0])

h

In [25]:
print(a[1])

e

In [26]:
print(a[4])

o

In [27]:
print(a[-1])

n

In [28]:
print(a[-2])

i

### Slicing

In [29]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [30]:
# examples
a = "hello world"

#to grab "hello"
a[0:5:1] # same as a[:5]

'hello'

In [31]:
# to grab 'world'

# 1) using positive indexes
a[6:]

'world'

In [32]:
# 2) using negative indexes
a[-5:] # gets the last 5 characters.

'world'

In [33]:
# to get alternated characters from the string,specify step = 2
a[::2]

'hlowrd'

In [34]:
# to get the reverse of a string
a[::-1]

'dlrow olleh'

## Concatination

In [35]:
str1 = 'A'
str2 = 'B'
str3 = str1+str2
print(str3)

AB

In [36]:
first_name = 'kamlesh '
last_name = 'gudli'
full_name = first_name+last_name
print(full_name)

kamlesh gudli

In [37]:
# Error
a = 5
b = "hello"
print(a+b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### Note : before concatinating, make sure both the variable are of string type. Because string concatination can only be performed with strings ,no other data types can be used to concatinate with the string

## Immutability

In [39]:
name = "Tree"

In [40]:
# cannot change like this.Because strings are immutable
name[0] = "F"

TypeError: 'str' object does not support item assignment

In [41]:
# work around
"F" + name[1:]

'Free'

## Some inbuilt functions

In [42]:
# 1) .upper()
a = 'hello world'
# print(a.upper())

In [43]:
# 2) .lower()
print(a.lower())

hello world

In [44]:
# 3) .startswith()
print(a.startswith("j"))

False

In [45]:
# 4) .endswith()
print(a.endswith('D'))

False

In [46]:
# 5) .capitalize()
print(a)
print(a.capitalize())

hello world
Hello world

### Task 1 & 2

In [47]:
# task 1) go through some of the other in built functions

# task 2) 

# given a string for example
str1 = "Welcome to python"

# check if "to" is present in "welcome to python"