## Lists
In Python lists are written with square brackets.
#### Important properties of lists

* Can store different data types
* Duplicate values are allowed
* Order is retained
* Indexing and slicing is possible
* Mutable

In [1]:
list1 = [1,2,3,4.5,5.5,"maths","python",True,False]

In [2]:
list1

[1, 2, 3, 4.5, 5.5, 'maths', 'python', True, False]

In [3]:
list2 = [1,2,3,4,5,1,1]

In [4]:
list2

[1, 2, 3, 4, 5, 1, 1]

In [5]:
# check the type using type()
type(list2)

list

In [6]:
# to check the length of the lists
len(list1)

9

#### Indexing
Indexing starts from 0(zero). Very much similar to what we have learnt in our previous class

In [7]:
# to get the first element
list1 = [1,2,3,4,5,6,7,8,9]
list1[0]

1

In [8]:
# to get the third element
list1[2]

3

In [9]:
# to get the last element
list1[8]

9

#### Slicing

In [10]:
# [start:stop:step]

# start = starting position (default value is 0)
# stop = end position(exclusive) (default value is end position)
# step = step size or increment size (default value is 1)

In [11]:
# to get first 5 elements 
list1[:5]

[1, 2, 3, 4, 5]

In [12]:
# to get last 5 elements 
list1[-5:]

[5, 6, 7, 8, 9]

In [13]:
# to get alternate elements 
list1 = [1,2,3,4,5,6,7,8,9]
list1[::2]

[1, 3, 5, 7, 9]

In [14]:
# to get every 3rd element from the starting position
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list1[::3]

[1, 4, 7]

#### mutable

In [16]:
# to change the first value
list1[0] = 100
list1

[100, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
# similarly you can change any values based on index position
list1[2] = 300
list1

[100, 2, 300, 4, 5, 6, 7, 8, 9]

#### some inbuilt methods

In [18]:
# my_list
my_list = [1,2,3,True]
my_list

[1, 2, 3, True]

##### 1) .append(val)
appends the value at the end of the list

In [19]:
my_list.append("Python")
print(my_list)

[1, 2, 3, True, 'Python']

In [20]:
my_list.append("ML")
print(my_list)

[1, 2, 3, True, 'Python', 'ML']

In [21]:
my_list

[1, 2, 3, True, 'Python', 'ML']

##### 2) insert(pos,element)
inserts the element at the specified index

In [22]:
# to insert value 4 after 3
my_list.insert(3,4)

In [23]:
my_list

[1, 2, 3, 4, True, 'Python', 'ML']

In [24]:
# to insert value False after True
my_list.insert(0,False)

In [25]:
my_list

[False, 1, 2, 3, 4, True, 'Python', 'ML']

##### copying the lists
1) my_list_copy = my_list

2) my_list_copy = my_list.copy()

In [26]:
my_list

[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [27]:
my_list_copy = my_list

In [28]:
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'Python', 'ML']
[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [29]:
my_list_copy = my_list.copy()
print(my_list)
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'Python', 'ML']
[False, 1, 2, 3, 4, True, 'Python', 'ML']

##### Problem with assignment (=)

In [30]:
my_list_copy = my_list
print(my_list)

[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [31]:
print(my_list_copy)

[False, 1, 2, 3, 4, True, 'Python', 'ML']

In [32]:
my_list_copy[0] = 100

In [33]:
my_list_copy

[100, 1, 2, 3, 4, True, 'Python', 'ML']

###### Note: original list is also getting modified

In [34]:
my_list

[100, 1, 2, 3, 4, True, 'Python', 'ML']

##### 3) .copy()

In [35]:
my_list_copy = my_list.copy()
print(my_list)

[100, 1, 2, 3, 4, True, 'Python', 'ML']

In [36]:
my_list_copy

[100, 1, 2, 3, 4, True, 'Python', 'ML']

In [37]:
my_list_copy[0] = 0

In [38]:
my_list_copy

[0, 1, 2, 3, 4, True, 'Python', 'ML']

##### Note: Original list is not getting modified

In [39]:
my_list

[100, 1, 2, 3, 4, True, 'Python', 'ML']

##### 4) .extend()
syntax ----> list1.extend(list2)

In [40]:
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1.extend(list2)
list1.extend(list3)
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

In [41]:
# similar to addition of lists
list1 = [1,2,3,4]
list2 = ['a','b','c','d']
list3 = [True,False]

list1 = list1+list2+list3
list1

[1, 2, 3, 4, 'a', 'b', 'c', 'd', True, False]

##### 5) .pop(index)
removes the element from specified index and returns the element.

In [42]:
list1 = [1,2,3,4,5,6,7,8,9]

In [43]:
rem = list1.pop(2)

In [44]:
print(rem)

3

In [45]:
list1

[1, 2, 4, 5, 6, 7, 8, 9]

#### task-3
go through other inbuilt methods like remove(),count(),clear(),sort(),reverse()

#### Exercises on List

In [46]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [47]:
#to access element 1
list1[0][0]

1

In [48]:
#to access elemnt 5
list1[1][1]

5

In [49]:
#to access 8
list1[2][1]

8

In [50]:
list2 = [1,2,[3,4,5,6,[7,8,9]]]
list2

[1, 2, [3, 4, 5, 6, [7, 8, 9]]]

In [51]:
#to access element 2
list2[1]

2

In [52]:
#to access element 4
list2[2][1]

4

In [53]:
#to access elements 7,8,9
list2[2][4]

[7, 8, 9]

In [54]:
#to access element 9
list2[2][4][2]

9

In [55]:
#to access 3,4,5,6
list2[2][:4]

[3, 4, 5, 6]

#### Task-4
2 problems!

In [ ]:
#Add item 70 after 60 in the following Python List
#input
l1 = [10, 20, [30, 40, [50, 60], 80], 90, 100]
#output
[10, 20, [30, 40, [50, 60, 70], 80], 90, 100]

In [ ]:
#add sublist [7,8] after 6
#input
l2 = [1,2,[3,4,5,6],9]
#output
[1,2,[3,4,5,6,[7,8]],9]