## Dictionaries
In Python dictionaries are written with curly brackets and they have keys and values seperated by commas.

#### Properties
* Can store different data types
* Order doesnt matter here
* Keys should be unique
* Mutable

In [1]:
# Example
dict1 = {
    "Brand":"Bajaj",
    "model":"Pulsar",
    "year":2015,
    "cost":85000
}
dict1
type(dict1)

dict

In [2]:
# Dictionary Length
len(dict1)

4

#### Accessing Items

In [3]:
# 1)
x = dict1["model"]
x

'Pulsar'

In [4]:
# 2) get(keyname)
x = dict1.get("model")
x

'Pulsar'

#### Change/update Values

In [5]:
#update the year
dict1["year"] = 2018
dict1

{'Brand': 'Bajaj', 'model': 'Pulsar', 'year': 2018, 'cost': 85000}

In [6]:
# keys() method to get the keys 
keys = list(dict1.keys())
print(keys)

['Brand', 'model', 'year', 'cost']

In [7]:
# values() method to get the values
vals = list(dict1.values())
print(vals)

['Bajaj', 'Pulsar', 2018, 85000]

In [8]:
# items() method to get both keys and values
items = list(dict1.items())
items

[('Brand', 'Bajaj'), ('model', 'Pulsar'), ('year', 2018), ('cost', 85000)]

#### Adding items to an existing dictionary

In [9]:
# add color of the bike
dict1["color"] = "Black"
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'Black'}

In [10]:
# add tyreType
dict1['tyreType'] = 'Tubeless'
dict1

{'Brand': 'Bajaj',
 'model': 'Pulsar',
 'year': 2018,
 'cost': 85000,
 'color': 'Black',
 'tyreType': 'Tubeless'}

#### Removing items

In [11]:
# 1) pop(key)
rem = dict1.pop('model')
print(rem)
print(dict1)

Pulsar
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [12]:
# adding again
dict1['model'] = 'Pulsar'
dict1

{'Brand': 'Bajaj',
 'year': 2018,
 'cost': 85000,
 'color': 'Black',
 'tyreType': 'Tubeless',
 'model': 'Pulsar'}

In [13]:
# 2) popitem() removes the last inserted item
print(dict1)
dict1.popitem()
print(dict1)

{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless', 'model': 'Pulsar'}
{'Brand': 'Bajaj', 'year': 2018, 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [14]:
# 3) del keyword
del dict1['year']

In [15]:
dict1

{'Brand': 'Bajaj', 'cost': 85000, 'color': 'Black', 'tyreType': 'Tubeless'}

In [16]:
# 4) clear() method
dict1.clear()

In [17]:
dict1

{}

#### Copy a dictionary

In [18]:
# 1) copy() method
dict1 = {
  "brand": "Bajaj",
  "model": "Pulsar",
  "year": 2015,
  "cost": 85000
}
mydict = dict1.copy()
print(mydict)

{'brand': 'Bajaj', 'model': 'Pulsar', 'year': 2015, 'cost': 85000}

#### Nested Dictionaries

In [19]:
child1 = {
  "name" : "John",
  "year" : 1995
}
child2 = {
  "name" : "Sammy",
  "year" : 2001
}


myfamily = {
  "child1" : child1,
  "child2" : child2
}

In [20]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [21]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}

In [22]:
myfamily

{'child1': {'name': 'John', 'year': 1995},
 'child2': {'name': 'Sammy', 'year': 2001}}

#### Exercises on Dictionaries

In [23]:
myfamily = {
  "child1" : {
    "name" : "John",
    "year" : 1995,
    "hobbies":["Music","Cricket","TV"]
  },
  "child2" : {
    "name" : "Sammy",
    "year" : 2001
  }
}
myfamily

{'child1': {'name': 'John',
  'year': 1995,
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [24]:
#accessing "John"
myfamily["child1"]["name"]

'John'

In [25]:
#accessing 1995
myfamily["child1"]["year"]

1995

In [26]:
#accessing "Sammy"
myfamily["child2"]["name"]

'Sammy'

In [27]:
#accessing 2001
myfamily["child2"]["year"]

2001

In [28]:
myfamily

{'child1': {'name': 'John',
  'year': 1995,
  'hobbies': ['Music', 'Cricket', 'TV']},
 'child2': {'name': 'Sammy', 'year': 2001}}

In [29]:
#accessing 'Cricket'
myfamily['child1']['hobbies'][1]

'Cricket'

In [30]:
#get ['Cricket','TV']
myfamily['child1']['hobbies'][1:]

['Cricket', 'TV']

In [31]:
#get ['Music','TV']
myfamily['child1']['hobbies'][::-1]

['TV', 'Cricket', 'Music']

### Task-5

In [32]:
dict1 = { 
   "april_batch":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "python":80,
            "maths":70
         }
      }
   }
}

From the above dictionary, do the following tasks
1. access "Mike"
2. access 80
3. change "Mike" to "Your name"
4. add ML = 80 and DL = 80 inside marks