## Sets
In Python sets are written with curly brackets.
#### Important properties of sets

* Can store different data types
* Duplicate values are not allowed
* Order is not retained
* Indexing and slicing is not possible

In [1]:
set1 = {2,3,4.4,True,"python"}

In [2]:
set1

{2, 3, 4.4, True, 'python'}

In [3]:
set2 = {1,2,3,4,1,2,1,1,4,3}

In [4]:
set2

{1, 2, 3, 4}

In [5]:
set3 = {"a",1,"b",2,3}

In [6]:
set3

{1, 2, 3, 'a', 'b'}

In [7]:
# check the type using type()
type(set2)

set

In [8]:
# to check the length of the sets
len(set1)

5

#### Indexing and Slicing is not allowed in sets

In [9]:
# try to index
set1[0]

TypeError: 'set' object is not subscriptable

#### empty set

In [10]:
set4 = {}
set4

{}

In [11]:
type(set4)

dict

In [12]:
# to create empty sets
set4 = set()
type(set4)

set

#### Mutablility
Once set is created you can add and remove the elements from the set, but you cannot modify the existing elements in a set

#### In built methods.
##### * To add the elements

##### 1) add(item)
adds single item to the set

In [13]:
set1 = {1,2,3,4,6}
# set1
set1.add(6)
print(set1)

{1, 2, 3, 4, 6}

In [14]:
set1.add(7)
set1

{1, 2, 3, 4, 6, 7}

##### 2) .update(list)
this method is used to add more than one items. All the items should be passed in the form of lists

In [15]:
set1 = {1,2,3,4,5}
set1.update([6,7,8]) # pass list of values to set1

In [16]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

#### 3) copy()
to copy a set

In [17]:
set2 = set1.copy()
set2

{1, 2, 3, 4, 5, 6, 7, 8}

##### * To remove the items

##### 4) remove(item)
removes the specified item from the set. If specified item is not present it will raise error

In [18]:
set1

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
set1.remove(1)
set1

{2, 3, 4, 5, 6, 7, 8}

In [20]:
set1.remove(2)
set1

{3, 4, 5, 6, 7, 8}

In [21]:
#Gives error because 2 is not present
set1.remove(2)
set1

KeyError: 2

##### 5) discard(item)
removes the specified item from the set.But if the item is not present then it will not raise error

In [22]:
set1 = {1,2,3,4,5,6}
set1

{1, 2, 3, 4, 5, 6}

In [23]:
set1.discard(1)
set1

{2, 3, 4, 5, 6}

In [24]:
set1.discard(2)
set1

{3, 4, 5, 6}

In [25]:
# will not give the error if 2 is not there
set1.discard(2)
set1

{3, 4, 5, 6}

##### 6) pop()
Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [26]:
set1 = {"a",1,"B",2,3,"c",4}
set1.pop()

1

In [27]:
set1.pop()

2

##### 7) clear()
empties the set

In [28]:
set1

{3, 4, 'B', 'a', 'c'}

In [29]:
set1.clear()
set1

set()

##### * Other inbuilt methods

##### 8) union()

returns a new set with all the elements from set1 and set2

In [30]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1)
print(set2)

{1, 2, 3, 4, 5}
{4, 5, 6, 7, 8}

In [31]:
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7, 8}

##### 9) intersection()
returns the common element from both the sets

In [32]:
set1

{1, 2, 3, 4, 5}

In [33]:
set2

{4, 5, 6, 7, 8}

In [34]:
set3 = set1.intersection(set2)
set3

{4, 5}

### Task7 - go through other inbuilt methods like
1) difference()
2) symmetric_difference()

### Task8 - Make a table of all the In-built data structures and Point out the differences one by one